/* Password.css */

.criteria-box {
    flex: 0.4;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: small;
}


.criteria-box p {
    margin: 2px 0;
    font-size: small;
}

.field {
    flex: 1;
    margin-right: 16px;
}

.repeatPasswordError {
    color: red;
    margin-left: 1rem;
    font-size: small;
}

@media screen and (max-width: 800px) {
    .criteria-box p {
        font-size: x-small;
    }

}