#Card {
    margin: 10px;
    max-height: 50rem;
    border-radius: 0.5rem !important; 
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.card_container {
    display: flex !important;
    align-content: center !important;
    justify-content: center !important;
}

@media screen and (max-width: 800px) {
    #Card {
        margin-left: 5px;
        margin-right: 5px;
    }
}