.header{
    display: flex;
    padding: 10px;
    background-color: #dfdfdf;
    justify-content: space-between;
    align-items: center;
}

.header>p>a{
    text-decoration: none;
    color: black;
    font-size: large;
    margin-right: 10px;
}